.login_register {
    background-color: rgb(0, 122, 255);
    margin: 0 auto;
    text-align: center;
}

.form_login_register {
    margin: 0 auto;
    text-align: center;
    margin-top: 300px;
    color:white;
    max-width: 400px;
    padding-left: 10px;
    padding-right: 10px;
}


#top_nav{
    color: white; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

#top_nav_item{
    color: white; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding-top: 15px;
}


a, p, h1, h2, h3, h4, h5, h6 {
font-family: Verdana, Geneva, Tahoma, sans-serif ;
}

#small_img {
    max-width: 100px;
    max-height: 100px;
}


#home_img {
    max-height: 400px;
}



#club_img {
    max-width: 200px;
    max-height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.section_top {
    margin: 0 auto;
    text-align: center;
    padding-left:10px;
    padding-right:10px;
    height: 800px;
    padding-top: 150px;
    background-color: rgb(0, 122, 255);
    color: white;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }

.section, #div_create_field {
    margin: 0 auto;
    text-align: center;
    margin-top: 75px;
    color: rgb(80, 80, 80);
    margin-bottom: 75px;
    padding-left:10px;
    padding-right:10px;
}


#div_create_field{
    max-width: 400px;
}


#index_categ { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

#index_categ > div {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    max-width: 300px;
    margin-bottom: 20px;
    text-align: center;
}


#index_categ_item {
    height: 200px;
    text-align: center;
    color: rgb(80, 80, 80);
}

#index_categ_item_item {
    padding-top: 10px;
}

#category_button{
    background-color: transparent;
    border: transparent;
}

#button_cancel_field_list {
    margin-top:30px;
    background-color: transparent;
    border: transparent;
}



#button_cancel_field_list:hover {
    background-color: rgb(243, 243, 243);
    border-radius: 50%;
}



#date_search{
    width: 95%;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;    
    margin-bottom: 10px;
}

#list_field, #create_club{
    width: 95%;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;    
    margin-bottom: 50px;
}



#form_booking {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    margin-top: 250px;    
    margin-bottom: 50px;
}


#create_club{
    max-width: 400px;
}

#title {
    margin-bottom: 50px;
}

#anchor {
    margin-top: 25px;
    color: white;
}

.td {
    border: 1px solid black;
    padding: 5px;
}
.th, table {
    border: 2px solid black;
    padding: 5px;

}

#button_add_field  {
    margin-top: 20px; 
    margin-bottom: 20px;
}

#address_question, #create_field, #button_cancel_field, #create_club_btn, #login_register_field {
    margin-top: 20px; 
}

.hidden {
    display: none;
}

#no_field, #do_you_confirm, #date_input, #select_time_field {
    margin-top: 50px;
}






/* Style the tab  */ 
.tab {
    overflow: hidden;
    background-color:rgb(0, 122, 255);
    padding-top: 20px; 
    margin: 0 auto;
    text-align: center;

  }  

#tabclub {
    background-color:rgb(97, 187, 119);
 
}

  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-weight: bold;

  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: white ;
    color: rgb(80, 80, 80);
  }
  
  /* Create an active/current tablink class    */
  .tab button.active {
    background-color: white;
    color: rgb(80, 80, 80);;

  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: 1px solid rgb(91, 107, 178);
    border-top: none;
  }

  @media (max-width: 600px) {
    #home_img {
        max-height: 300px;
    }
    #form_booking {
        margin-top: 150px;    
    }
    .section_top {
        padding-top: 75px;
        height: 650px;

    }
  }
