{% extends "sport/login_register.html" %}

{% block title %}Login{% endblock %}


    {% block body %}

<div >
    <h3>Welcome on Sportfield</h3>

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <div id='login_register_field'>
        <input type='text' placeholder="Username" name="username" required class='form-control' > 
        </div>
        <div id='login_register_field'>
        <input type='password' placeholder="password" name="password"  required class='form-control'> 
        </div>
        <div id='login_register_field'>
            <input type='submit' value='Login' name="login" class="btn btn-success">
        </div>
        <div id='login_register_field'>
            {{message}}
        </div>
    </form>

    <div id='login_register_field'>
      Don't have an account? <a href="{% url 'register' %}" style='color:white;'>Register here.</a>
    </div>
    
</div>

        

{% endblock %}


