{% extends "sport/layout.html" %}

{% block title %}{{user}}{% endblock %}

{% block body %}





<div class="tab">
    <button class="tablinks active" onclick="openTab(event, 'user')">User info</button>
    {% if user.admin_pro %}
    <button class="tablinks" onclick="openTab(event, 'club')">Club details</button>
    {% endif %}
    <button class="tablinks" onclick="openTab(event, 'booking')">Booking history</button>
</div>
    
    <div id="user" class="tabcontent" style="display: block;">
        
        <div class='section'>

            <h5>Email</h5>
            <p>{{user.email}}</p>

            <h5>Username</h5>
            <p>{{user.username}}</p>
        </div>
    </div>
  
    <div id="club" class="tabcontent">
        <div class="section">
            {% if clubs %}
            <h4>Your club(s)</h4>
                {% for i in clubs %}
                <a class="nav-link" href="{% url 'club_id' i.pk %}">{{i.club}}</a>
                {% endfor %}
        
            {% endif %}
            <a class="btn btn-success" href="{% url 'create_club' %}">Create a new club</a>
        
        </div>
  </div>
  
  <div id="booking" class="tabcontent">
    
    <div class="section" style="overflow-x:auto;">

    {% if bookings %}
    <table class='center'>
        <thead>
            <tr>
                <th class='th'>Field Name</th>
                <th class='th'>Sport</th>
                <th class='th'>Booking date</th>
                <th class='th'>Field's Club</th>
                <th class='th'>Price / hour</th>
                <th class='th'>Booking time</th>
                <th class='th'>Address / See on map</th>

            </tr>
        </thead>
        <tbody>
            {% for i in bookings %}
            <tr>
                <td class='td'>{{i.field}}</td>
                <td class='td'>{{i.field.category}}</td>
                <td class='td' >{{i.date_book}}</td>
                <td class='td'>{{i.field.club}}</td>
                <td class='td'>{{i.field.price}}</td>
                <td class='td'>{{i.schedule_time_field}}</td>
                <td class='td'><a title = '{{i.field.address_number}} {{i.field.address}} {{i.field.city}} {{i.field.zip_code}} {{i.field.country}}' href="https://www.google.ca/maps/place/{{i.field.address_number}} {{i.field.address}} {{i.field.city}} {{i.field.zip_code}} {{i.field.country}}" target="_blank">map</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>You don't have any booking for now. Search for a sport field and book it!</p>
    <a class="btn btn-success" href="{% url 'index' %}">Go</a>
    {% endif %}
    

    </div>

  </div>



<script>
    // manage the tabs
    function openTab(evt, tab) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(tab).style.display = "block";
      evt.currentTarget.className += " active";
    }
</script>

{% endblock %}